.potd-header{
    transition: all 2s linear;
  }
  .potd-header:hover{
    color:#fff;
    text-shadow: 0 0 10px rgb(5 150 105),
                 0 0 20px rgb(5 150 105),
                 0 0 40px rgb(5 150 105),
                 0 0 80px rgb(5 150 105),
                 0 0 120px rgb(5 150 105);
    word-spacing: 100px;
  }